@charset "UTF-8";
/*
Author: Matthew Daley
Date: 4/03/2023
Layout and styles for Index page
*/
@media only screen and (min-width: 768px) {
    .header{
        text-align: center;
        padding: 20px;
    }
    .flex-container{
        display: flex;
        margin-left: 15%;
        margin-right: 15%;
    }
    .leftcol{
        margin-right: 5%;
    }
    .rightcol{
        margin-left: 5%;
    }
    div.rightcol > p {
        font-size: large;
    }
}