@charset "UTF-8";
/*
Author: Matthew Daley
Date: 2/15/2023
Layout for portfolio
*/

.item1{
    grid-area: title;
    text-align: center;
}
.item2{
    grid-area: contact;
}
.item3{
    grid-area: skills;
}
.item4{
    grid-area: eductation;
}
.item5{
    grid-area: experience;
}
.item6{
    grid-area: profile;
}
.grid-container{
    display: grid;
    grid-template-areas:  
    'title title title title'
    'contact profile profile profile'
    'skills experience experience experience'
    'education experience experience experience';
}