@charset "utf-8";
/*
Author: Matthew Daley
Date: 01-02-2023
*/
body {
    background-color: #38b48b;
    color: whitesmoke;
    font-family: Garamond;
}
.header{
  text-align: center;
  padding: 20px;
}


/* Navbar code from: https://www.w3schools.com/css/css_website_layout.asp*/
@media only screen and (max-width: 767px) {
    .navbar{
        display:block;
        position: fixed;
        transform: translateY(-100%);
        transition: transform 0.2s;
        top: 0;
        left: 0;
        right: 0;
        bottom: 69%;
        z-index: 99;
        background: #395c6b;
        color: #f2f2f2;
        overflow:hidden;
    }
    .navbar a {
      display:block;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      color: #f2f2f2;
    }
    .navbar a:hover {
      background-color: #4f7e92;
      color: whitesmoke;
  }
    .hamburger {
        position: fixed;
        z-index: 100;
        top: 1rem;
        right: 1rem;
        padding: 4px;
        border: black solid 1px;
        background: white;
        cursor: pointer;
      }
      .closeIcon {
        display: none;
      }
      .showMenu {
        transform: translateY(0);
      }
      div.navbar > ul {
        list-style:none;
      }
}
@media only screen and (min-width: 768px) {
    .navbar {
        overflow:hidden;
        background-color: #395c6b;
    }
    .navbar a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    .navbar a:hover {
        background-color: #4f7e92;
        color: whitesmoke;
    }
    button.hamburger{
      display:none;
  }
}