@charset "UTF-8";
/*
Author: Matthew Daley
Date: 2/15/2023
Layout for portfolio
*/
.grid-container{
    background-color: white;
    color: black;
}
@media only screen and (min-width: 768px) {
    .grid-container{
        padding-left: 8%;
        padding-right: 8%;
        margin-left: 15%;
        margin-right: 15%;
    }
    .item1{
        grid-area: title;
        text-align: center;
    }
    .item2{
        grid-area: experience;
    }
    .item3{
        grid-area: education;
    }
    .item4{
        grid-area: skills;
    }
    .item5{
        grid-area: qualities;
    }
    .grid-container{
        display: grid;
        grid-template-areas:  
        'title title'
        'experience experience'
        'education education'
        'skills skills'
        'qualities qualities'
        ;
    }
  }
